GEN_client/GEN_client/Service References/CL_SERVC/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CL_SERVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTCP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="1800000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Dad_server_component.Server_component" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="I_SERVC_m_service_InputMessage">
    <wsdl:part name="parameters" element="tns:m_service" />
  </wsdl:message>
  <wsdl:message name="I_SERVC_m_service_OutputMessage">
    <wsdl:part name="parameters" element="tns:m_serviceResponse" />
  </wsdl:message>
  <wsdl:message name="I_SERVC_file_InputMessage">
    <wsdl:part name="parameters" element="tns:file" />
  </wsdl:message>
  <wsdl:message name="I_SERVC_file_OutputMessage">
    <wsdl:part name="parameters" element="tns:fileResponse" />
  </wsdl:message>
  <wsdl:portType name="I_SERVC">
    <wsdl:operation name="m_service">
      <wsdl:input wsaw:Action="http://tempuri.org/I_SERVC/m_service" message="tns:I_SERVC_m_service_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_SERVC/m_serviceResponse" message="tns:I_SERVC_m_service_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="file">
      <wsdl:input wsaw:Action="http://tempuri.org/I_SERVC/file" message="tns:I_SERVC_file_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_SERVC/fileResponse" message="tns:I_SERVC_file_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTCP" type="tns:I_SERVC">
    <wsp:PolicyReference URI="#netTCP_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="m_service">
      <soap12:operation soapAction="http://tempuri.org/I_SERVC/m_service" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="file">
      <soap12:operation soapAction="http://tempuri.org/I_SERVC/file" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="http" type="tns:I_SERVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="m_service">
      <soap:operation soapAction="http://tempuri.org/I_SERVC/m_service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="file">
      <soap:operation soapAction="http://tempuri.org/I_SERVC/file" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CL_SERVC">
    <wsdl:port name="netTCP" binding="tns:netTCP">
      <soap12:address location="net.tcp://10.33.126.61/Server_component/CL_SERVC.svc/CL_SERVC" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.33.126.61/Server_component/CL_SERVC.svc/CL_SERVC</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="http" binding="tns:http">
      <soap:address location="http://david-pc:20000/Server_component/CL_SERVC.svc/http" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>