GEN_client/GEN_client/Service References/CL_SERVC/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Dad_server_component.Server_component" />
  <xs:element name="m_service">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dad_server_component.Server_component" minOccurs="0" name="msg" nillable="true" type="q1:STG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="m_serviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dad_server_component.Server_component" minOccurs="0" name="m_serviceResult" nillable="true" type="q2:STG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="file">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dad_server_component.Server_component" minOccurs="0" name="file" nillable="true" type="q3:FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>